*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
}

:root{
  --body-color:#f0f2f5;
  --text-color: #5f5f5f;
  --text-color-secondary: #777;
  --color-blue: #405be6;
  --background-color: #fff;
}

body{
  background: var(--body-color);
  color: var(--text-color);
  font-size: 1.6rem;

}

a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  
}



/* Navigation Bar */

.nav-bar{
  align-items: center;
  background: var(--background-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 6%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img{
  width: 3rem;
  margin-right: 1.5rem;
  display: block;
}

.nav-links{
  display: inline-block;
  list-style: none;
}
.nav-links a{
  display: flex;
  align-items: center;
  margin: 0.5rem 0.8rem;
  padding-right: 0.5rem;
  position: relative;
}
.nav-links img{
  width: 3rem;
}

.nav-links a::after{
  content: '';
  width: 0;
  height: 2px;
  background: var(--color-blue);
  position: absolute;
  bottom: -13px;
  transition: width 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active-link::after{
  width: 100%;
}

.profile-image{
  width: 4rem;
  border-radius: 100%;
  display: block;
  position: relative;
  cursor: pointer;
}
.online{
  position: relative;
}

.online::after{
  background: #41db51;
  border-radius: 100%;
  border: 2px solid #fff;
  content: '';
  height: 0.7rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.7rem;
}

.search-box{
  background: var(--body-color);
  width: 25rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
.nav-bar-left{
  display: flex;
  align-items: center;
}

.search-box img{
  width: 1.4rem;
}
.search-box input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--text-color);
}
/* Body content */

.container{
  padding: 2rem 6%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-sidebar,
.right-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 7.3rem;

}

.main-content{
  flex-basis: 47%;
}

/* Left sidebar */
.sidebar-profile-container{
  background: var(--background-color);
}
.profile-cover-image{
  width: 100%;
}
.sidebar-profile-info{
  padding: 0 2.5rem;
}
.sidebar-profile-info img{
  width: 9rem;
  border-radius: 100%;
  background: var(--background-color);
  padding: 0.4rem;
  margin-top: -4.5rem;
}
.sidebar-profile-info h1{
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}

.sidebar-profile-info h2{
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color-secondary);
}

.sidebar-profile-info ul{
  list-style: none;
  margin: 2rem 0;

}
.sidebar-profile-info ul li{
  width: 100%;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
.sidebar-profile-info ul li span{
  float: right;
  color: var(--color-blue);
}

.sidebar-profile-links{
  display: flex;
  align-items: center;

  border-top: 1px solid #ccc;
}
.sidebar-profile-links a{
  flex-basis: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  padding: 1.5rem 0;
  border-left: 1px solid #ccc ;
}
.sidebar-profile-links a:first-child{
  border-left: none;
}
.sidebar-profile-links a img{
  width: 2rem;
  margin-right: 1rem;
}

.sidebar-activity{
  background: var(--background-color);
  padding: 0.5rem 2.5rem;
  margin: 1rem 0;
}
.sidebar-activity h3{
  color: var(--text-color-secondary);
  font-weight: 1.4rem;
  font-weight: 500;
  margin: 2rem 0 1rem;

}
.sidebar-activity a{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.3rem 0;
}

.sidebar-activity a img{
  width: 2rem;
  margin-right: 1rem;
}

.discover-more-link{
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 2rem -2.5rem 0 -2.5rem;
  
}
.discover-more-link a{
  color: var(--color-blue);
  display: inline-block;
  margin: 1rem 0;
}

/* Right Sidebar */

.right-sidebar-news{
  background: var(--background-color);
  padding: 1rem 2.5rem;
}
.news-icon{
  width: 1.5rem;
  float: right;
  margin-top: 1.5rem;
}
.right-sidebar-news h1{
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0 3rem;
  color: #222;

}
.right-sidebar-news a{
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: -0.1rem;

}
.right-sidebar-news span{
  font-size: 1.2rem;
}
.read-more-link{
  font-weight: 500;
  color: var(--color-blue);
  margin: 2rem 0 1rem ;
}


/* advertisement section */


.right-sidebar-ad{
  background: var(--background-color);
  padding: 1.5rem 2.5rem;
  margin: 1.2rem 0;
  text-align: center;
  font-size: 1.2rem;

}

.right-sidebar-ad img{
  width: 6rem;
  border-radius: 100%;
  margin: .5rem;
}
.right-sidebar-ad small{
  float: right;
  font-weight: 500;
}

.ad-name{
  margin: 3rem 0 1rem;
}
.ad-brand{
  font-weight: 600;
  margin-top: 1rem;
}

.ad-link{
  display: inline-block;
  border: 1px solid var(--color-blue);
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  color: var(--color-blue);
  font-weight: 500;
  margin: 2rem 0 1rem;
}

/* Right Sidebar links */


.right-sidebar-links{
 
  padding: 1.5rem 2.5rem;
  text-align: center;
 
}

.right-sidebar-links a{
  display: inline-block;
  font-size: 1.4rem;
  margin: 0.4rem 0.2rem;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
}
.copyright img{
  width: 1.8rem;
  margin-right: 1rem;
}

/* Main Content */

/* Creat post */

.create-post{
  background: var(--background-color);
}
.create-post-input{
  padding: 2rem 2.5rem 1rem ;
  display: flex;
  align-items: flex-start;
}

.create-post-input img{
  width: 3.5rem;
  border-radius: 100%;
  margin-right: 1rem;
}
.create-post-input textarea{
  border: none;
  outline: none;
  resize: none;
  color: var(--text-color);
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background: transparent;
}
::placeholder{
  font-weight: 500;
}

.create-post-links{
  display: flex;
  align-items: flex-start;
}
.create-post-links li{
  align-items: center;
  border-right: 1px solid #ccc ;
  border-top: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  flex-basis: 25%;
  font-size: 1.3rem;
  height: 4rem;
  justify-content: center;
  list-style: none;
 
}
.create-post-links li:last-child{
  border-right: none;
  border-top: none;
  background-color: var(--color-blue);
  color: var(--background-color);
}

.create-post-links li img{
  width: 1.5rem;
  margin-right: 0.5rem;
}

.sort-by{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.sort-by hr{
  flex: 1;
  border: none;
  height: 1px;
  background: #ccc;
}
.sort-by p{
  font-size: 1.3rem;
  padding-left: 1rem;
}
.sort-by span{
  font-weight: 600;
  cursor: pointer;
}
.sort-by span img{
  width: 1.2rem;
}

/* post */

.post{
  background: var(--background-color);
  padding: 2rem 2.5rem 1rem;
  margin: 0.5rem 0 1.5rem;
}

.post-author{
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.post-author img{
  width: 3.5rem;
  border-radius: 100%;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.post-author h1{
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  margin: 1rem 0 1rem;
}

.post-author small{
  display:block;
  margin-bottom: -1px;
  font-size: 1.2rem;
}
.post p{
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.post-stats{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
font-size: 1.2rem;
border-bottom: 1px solid #ccc;
padding-bottom: 0.5rem;
}

.post-stats div{
  display: flex;
  align-items: center;

}
.post-stats img{
  width: 1.5rem;
  margin-right: -0.5rem;
}
.liked-user{
  margin-left: 1rem;
}

/* Post activity */

.post-activity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0;
}
.post-activity div{
  display: flex;
  align-items: center;
}
.post-activity-user-icon{
  width: 2.2rem;
  border-radius: 100%;
  margin-right: 0.3rem;
}
.post-activity-arrow-icon{
  width: 1.2rem;
}
.post-activity-link img{
  width: 1.8rem;
  margin-right: 1rem;
}

/* ------------ profile drop down menu---------- */
.porfile-menu-wrap{
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.porfile-menu-wrap.open-menu{
  max-height: 400px;
}

.profile-menu{
  background: #222;
  color: var(--background-color);
  padding: 2rem;
  margin: 1rem;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info img{
  width: 5rem;
  border-radius: 100%;
  margin-right: 1.5rem;
}
.user-info h3{
  font-weight: 500;
  margin: -0.3rem 0;
}
.user-info a{
  color: var(--body-color);
  font-size: 1.3rem;
}
.profile-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--background-color);
  margin: 1.5rem 0 1rem;
}

.profile-menu-link{
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--background-color);
  margin: 1.2rem 0;
}
.profile-menu-link p{
  width: 100%;
}
.profile-menu-link img{
  width: 3.5rem;
  border-radius: 100%;
  margin-right: 1.5rem;
}


/* -------------Profile page---------------- */

.profile-main{
  flex-basis: 73%;
}

.profile-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position:sticky;
  top: 7.3rem;
}


/* ------------ Profile Container---------- */
.profile-container{
  background: var(--background-color);
}

.profile-container-inner{
  padding: 0 4% 1rem ;
}

.profile-picture{
  width: 15rem;
  border-radius: 100%;
  padding: 0.5rem;
  margin-top: -7.5rem;
  background: var(--background-color);
}
.profile-container h1{
  font-size: 2.8rem;
  color: #222;
  font-weight: 600;
  margin: 1rem 0 1rem;
}
.profile-container b{
  font-weight: 600;
}
.profile-container p{
  font-size: 1.3rem;
  margin: 0.5rem;
}

.profile-container p a{
  color: var(--color-blue);
  font-weight: 500;
  font-size: 1.3rem;
}

.mutual-connection{
  display: flex;
  align-items: center;
  margin: 2rem;
  
}
.mutual-connection img{
  width: 2.5rem;
  border-radius: 100%;
  margin-right: 1rem;
}
.mutual-connection span{
  font-size: 1.4rem;
}

.profile-button{
  margin: 2rem 0;
}
.profile-button a{
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #d4d4d4;
  border-radius: 0.5rem;
  margin-right: 1rem;

}
.profile-button img{
  width: 1.5rem;
  margin-right: 0.5rem;
}
.profile-button .primary-button{
  background: var(--color-blue);
  color: #fff;
}

.profile-description{
  background: var(--background-color);
  margin: 1.5rem 0;
  padding: 3rem 4% ;
}
.profile-description h2{
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}
.profile-description p{
  line-height: 1.5;
}
.see-more-link{
  display: block;
  text-align: right;
  color: var(--color-blue);
}
.profile-description-row{
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}
.profile-description-row img{
  width: 5rem;
  margin-right: 2rem;

}
.profile-description-row div{
  width: 100%;
}
.profile-description-row div h3{
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.profile-description-row div b{
  display: block;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.profile-description-row div p{
  margin-top: 1rem;
}
.profile-description-row div hr{
  border: none;
  height: 1px;
  background:var(--text-color-secondary);
  margin-top: 1rem;
}
.show-more-experience{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.show-more-experience img{
  width: 1.8rem;
  margin-left: 1rem ;
}
.skills-button{
  display: inline-block ;
  border: 1px solid #777;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}



